.stripe {
  display: block;
  height: 10px;
  max-height: 10px;
  margin-bottom: 2%;
}

.listCards {
  display: flex;
  button {
    margin: 2rem;
  }
}

.wallet {
  h1 {
    margin: 0;
  }
  p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
  }
}

.renderTop {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50vw;
  }
  margin: 2rem 0;
}

.paymentDetails {
  display: block;
  width: 100%;
  max-width: 100rem;
  padding: 0;
  margin: 2rem auto;

  .paymentMethod {
    display: flex;
    align-items: center;

    button {
      margin: 2rem;
      background-color: white;
      color: black;
      &.active {
        background-color: black;
        color: white;
      }
    }
  }

  .group {
    margin: 0 0 2rem;
  }
}
