.tick {
  width: 100%;
  align-content: center;
}

.tickD {
  width: 100%;
  align-content: center;
}

.manageProductsmodalversion {
  height: 70vh;
  h1 {
    margin-bottom: 1.5rem;
  }

  #listproductbtn {
    width: 100%;
    button {
      font-size: 1.5rem;
      width: 100%;
    }
  }

  table {
    display: block;
    overflow-y: auto;
    max-height: 90%;
    width: 100%;
    tbody {
      display: table;
      width: 100%;
    }

    .results {
      tr {
        font-size: 1.5rem;
        &:nth-child(even) {
          background-color: #d3d3d3;
        }
        &:nth-child(odd) {
          background-color: white;
        }

        .thumb {
          width: 15rem;
          margin: 0 auto;
        }

        button {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .manageProductsmodalversion {
    table {
      width: 100%;

      .results {
        width: 100%;

        tr td {
          display: block;
          width: 100%;

          img {
            display: block;
            width: 100% !important;
          }
        }
      }
    }
  }
}
