.products {
  display: block;
  width: 100%;
  padding: 0;
  margin: 2rem 0;

  .productResults {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem -10px 0;
    // align-items: baseline;
  }
}

.filters {
  display: flex;
  justify-content: start;
  .formRow {
    width: auto;
    margin: 0 1rem 0 1rem;
  }
}
