#desktop {
  position: absolute !important;
  height: 0px !important;
}

#chats-page-all {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 35vw !important;
  z-index: 500 !important;
  font-size: small !important;
}


/* 
.ce-chat-form-container {
  padding: 1% !important;
} */

.chatForm {
  z-index:  10000 !important;
  position: absolute;
  bottom: 500px !important;
  width: 1000px;
  height: 100px
}

@media screen and (min-width: 800px) {
  #ce-feed-container.ce-chat-feed-container {
    position: absolute;
    bottom: 10px !important;
    /* height: 490px !important; */
  }
}

.ce-chat-feed {
  height: 300px !important;
}

.chatFeed {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 490px;
  z-index: 500 !important;
  font-size: small !important;
}

@media screen and (min-width: 800px) {
  .ce-chat-title-container {
    position: absolute !important;
    top: -10px !important;
    right: 0px !important;
    opacity: 1 !important;
    background-color: white;
  }
}

.ce-chat-title-container {
  right: 0px !important;
  opacity: 1 !important;
  background-color: white;
}

.chatList {
  position: fixed;
  bottom: 0px;
  right: 300px;
  width: 200px;
  height: 500px;
  z-index: 500 !important;
  font-size: medium !important;
}

@media screen and (min-width: 800px) {
  .chatList {
    position: fixed;
    bottom: 0px;
    right: 300px;
    width: 200px;
    height: 500px;
    z-index: 500 !important;
  }
}

.closeButton {
  position: fixed;
  bottom: 478px;
  right: 0px;
  z-index: 540 !important;
  font-size: 20px;
}

#ce-chat-card-title-loading {
  width: 0px !important;
}

.anticon {
  font-size: 18px;
}

.mobileChatView {
  position: fixed;
  overflow: hidden !important;
  top: 0px;
}

@media only screen and (max-width: 500px) {
  .chatFeed {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    width: 60vw;
    height: 100%;
    z-index: 500 !important;
    font-size: small !important;
  }

  .chatList {
    position: fixed;
    bottom: 0px !important;
    right: 60vw;
    width: 40vw;
    height: 100%;
    z-index: 500 !important;
    font-size: small !important;
  }

  .closeButton {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 540 !important;
    font-size: 20px;
    height: 25px;
  }
}
