.productSection {
  font-family: "Lato", sans-serif;
  width: 90%;
  margin: 2rem auto 2rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);

  h1 {
    overflow-wrap: break-word;
    font-family: "Lato", sans-serif;
  }
}

.productSection.mainSection {
  display: flex;
  .thumbnail {
    flex: 0 0 auto;
    width: 33.3333333333%;
    img {
      width: 100%;
    }
    //
  }

  .productDetails {
    padding: 0 2rem 0 2rem;
    flex: 0 0 auto;
    width: 66.66666666667%;
    font-family: "Roboto", sans-serif;

    .productTitle {
      .productName {
        h1 {
          font-family: "Lato", sans-serif;
          margin-bottom: 1rem;
          font-size: 2.5rem;
          text-transform: none;
        }
      }
      .productPrice {
        font-family: "Lato", sans-serif;
        font-size: 4rem;
        font-style: italic;
        // font-weight: 600;
      }
    }
    .productInfo {
      padding: 3rem 0 3rem 0;
    }
    .addToCart {
      width: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul li {
      width: 100%;
      list-style-type: none;
      margin: 0 auto 1rem;
    }
  }
}

.productSection.recommendationSection {
  .recList {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem -10px 0;
    align-items: baseline;
  }
}

@media only screen and (max-width: 800px) {
  .mainSection {
    .thumbnail {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
