@import "~react-image-gallery/styles/css/image-gallery.css";


.image-gallery-thumbnails-container {
  display: none;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 10px !important;

}

.directory {
  background-color: rgb(241, 241, 241);
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;

  .slideshow {
    display: flex;
    justify-content: center;

    .image-gallery {
      width: 80%;
    }
  }
  h1 {
    text-transform: none;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
  .main-landingpage {
    background: linear-gradient(
      to bottom right,
      rgb(240, 239, 239) 40%,
      rgb(255, 255, 255) 40%
    );

    padding: 3rem;
    .logo-col {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .description-col {
      display: flex;
      align-items: stretch;
      .body {
        padding: 5rem 1rem;
        h1 {
          font-size: 5rem;
          font-weight: bold;
          line-height: normal;
        }
        p {
          font-size: 2.8rem;
          font-weight: 500;
          line-height: normal;
        }
        .btn-section {
          // font-family: "Roboto", sans-serif;
          margin: auto;
          font-size: 1.5rem;

          .btn {
            border: 1px solid black;
            // font-family: "Roboto", sans-serif;
            // background-color: black;
            // color: white;
            margin: 2rem 1rem;
            font-size: 2rem;
          }

          .btn:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }

    h1 {
      color: rgb(0, 0, 0);
    }
  }

  .features-row {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin-bottom: 3rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: normal;
      text-align: center;
    }
    .features-list {
      display: flex;
      justify-content: center;
      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        padding-left: 2rem;
        padding-right: 2rem;
        i {
          margin: 2rem 0;
        }
        h1 {
          line-height: normal;
          font-size: 2.5rem;
          font-weight: normal;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.466);
      white-space: nowrap;
      i {
        font-weight: 600;
        font-size: 1rem;
        margin-left: 0.6rem;
      }
    }
    a:hover {
      color: black;
    }
  }
  .products-row {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    .homeproducts {
      display: flex;
      flex-wrap: wrap;
      .product {
        width: 19%;
        // margin: 0;
      }
    }
  }
  .auctions-row {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 5px;
    .homeauctions {
      display: flex;
      flex-wrap: wrap;
      .auction {
        width: 19%;
        // margin: 0;
      }
    }
  }
  .requests-row {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    .homerequests {
      display: flex;
      flex-wrap: wrap;
      .request {
        width: 19%;
        // margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .directory {
    .main-landingpage {
      .logo-col {
        width: 100%;
      }
      .description-col {
        width: 100%;
        .body {
          p {
            font-weight: normal;
          }
        }
      }
      .btn-section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .features-row {
      .features-list {
        .feature {
          width: 100%;
        }
      }
    }
    .products-row {
      .homeproducts {
        .product {
          width: 350px;
        }
      }
    }
    .requests-row {
      .homerequests {
        .request {
          width: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .auction {
    width: 100% !important;
  }
}
